.pager a {
	white-space: normal !important;
	background-image: none !important;
}
.pager-title {
	color: #337ab7;
}

article table td, article table th {
	padding: 2px 5px;
}

article table code {
	white-space: nowrap;
}